<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="main.css")
        link(rel="stylesheet", href="main2.css")
        title #{Title}
    body
        header.main-header
            nav.main-header__nav
                ul.main-header__ul
                    li.main-header__li
                        a(href="shop") Shop
                    li.main-header__li
                        a.active(href="#") Add-products
        form.main-form(method="POST" , action="/product-id")
            .form-div
                 label(for="text">Enter the product you want to add)
                 input.main-form__input(type = "text", name="title" ,placeholder="Enter here")
            .button-group
                button.main-form__button(type="submit") Add-Product
            
        
    